.container-grid {
  display: grid;
  grid-template-rows: 48px 1fr;
}

.instances {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.right {
  display: grid;
  grid-template-rows: 50px 1fr;
}
.events {
  display: grid;
  grid-template-columns: 1fr 25%;
}

.data {
  display: grid;
  grid-template-columns: 192px 1fr 60px;
  column-gap: 10px;
}

.full-height {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.height-48 {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 48px);
}
